@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom keyframe animation for fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Custom styles */
.button {
  color: aqua;
  background-color: teal; /* Set your desired background color */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border-radius: 0.25rem; /* Add border-radius for rounded corners */

  /* Add a transition for smoother hover effect */
  transition: background-color 0.3s ease;

  /* Optional: Add an animation for extra visual appeal */
  animation: fadeIn 1s ease;

  /* Hover effect: Change background color on hover */
  &:hover {
    background-color: darkcyan; /* Set your desired hover background color */
    background-color: rgba(0, 128, 128, 0);
  }
}
